@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #191919;
    text-decoration: none;
}

body {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
}

*[class] {
    box-sizing: border-box;
}

/*이사만루체*/
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header*/
#header_wrap {
    border-bottom: 1px solid #ddd;
}

.header_aligner {
    margin: 0 auto;
}

/*header_pc*/
@media (min-width:1000px) {
    #header_wrap {
        width: 100%;
    }

    .header_aligner {
        height: 7rem;
        padding: 0;
        max-width: 82rem;
        min-width: 62rem;
        position: relative;
    }

    /*language*/
    .language {
        padding: 10px 20px 0 0;
        display: flex;
        justify-content: flex-end;
    }

    .language li a {
        display: block;
        padding-left: 15px;
        font-size: 13px;
        font-weight: bold;
    }

    /*menu_logo*/
    .menu_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .logo {
        display: flex;
        float: left;
        height: 100%;
    }

    .logo_mobile {
        display: none;
    }

    /*menu_header_menu*/
    .menu {
        display: flex;
        justify-content: space-between;
    }

    .menu li a {
        padding: 0 2.5rem;
        font-family: 'GongGothicLight';
        font-size: 19px;
    }

    /*menu_header_util*/
    .util_list {
        float: right;
    }

    .util_list li {
        float: left;
    }

    .util_list li a {
        padding: 0 0.5rem;
        display: block;
        font-family: 'GongGothicLight';
        color: #747B9B;
    }

    .util_list .login {
        padding: 10px 5px 0 0;
    }

    .navbar_toggleBtn {
        display: none;
        position: absolute;
        right: 32px;
        font-size: 24px;
    }

    /*popup_find*/
    #popup_find {
        position: absolute;
        top: 100px;
        right: 0px;
        background-color: #fff;
        border: 2px solid #555;
        border-radius: 0.2rem;
        padding: 0.2rem 0.5rem 2rem 1.5rem;
        width: 387px;
        z-index: 999;
    }

    .popup_edge {
        display: block;
        position: absolute;
        right: 1rem;
        background: url(../index/01_header/edge.png) no-repeat;
        top: -0.5rem;
        width: 1rem;
        height: 0.8rem;
    }

    /*닫기버튼*/
    .close {
        text-align: right;
    }

    button {
        background-color: #fff;
        border: 0;
    }

    .popup_close {
        width: 2rem;
        height: 2rem;
        background: url(../index/01_header/find_close.png) no-repeat 50% 50%;
    }

    /*검색어를 입력하세요*/
    input[type="text"] {
        width: 240px;
        padding: 5px;
        display: inline-block;
        border: none;
        border-bottom: 1px solid #767676;
        font-family: 'Gowun Dodum', sans-serif;
        font-size: 16px;
        outline-style: none;
    }

    input::placeholder {
        font-family: 'Gowun Dodum', sans-serif;
        font-size: 17px;
    }

    /*확인버튼*/
    input[type="submit"] {
        background-color: #747B9B;
        color: #fff;
        width: 108px;
        border-radius: 0.2rem;
        border: none;
        padding: 8px 0;
        margin-left: 10px;
        font-family: 'Gowun Dodum', sans-serif;
        font-size: 16px;
    }
    .navbar_toggleBtn{
        display: none;
    }
}

/*header_tablet+mobile*/
@media (max-width:999px) {
    .header_menu{
        width: 100%;
    }
    .menu_wrap {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*language*/
    .language {
        display: none;
    }

    /*menu_logo*/
    .logo {
        display: none;
    }

    .logo_mobile {
        display: block;
        margin: 12px 0;
    }

    /*menu_header_menu*/
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_menu li a {
        font-weight: 600;
        display: block;
        padding: 20px 0;
    }
    .navbar_menu li a:hover{
        background-color: #747B9B;
        color: #fff;
    }

    /*menu_header_util*/
    .navbar_icons {
        list-style: none;
        color: white;
        padding-left: 0px;
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_icons li {
        padding: 8px 12px;
    }
    .navbar_icons a img:hover {
        transform: scale(1.1, 1.1);
    }

    .login,
    .util_find {
        display: none;
    }

    .navbar_toggleBtn {
        display: block;
        position: absolute;
        right: 20px;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}
/*header 끝*/

/*본문내용*/
#reservation_section{
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.reservation_story{
    overflow: hidden;
}
.reservation_story p{
    font-family: 'GongGothicLight';
}
.reservation_story p span a{
    color: #747B9B;
}
/*입력창*/
.reservation_main{
    font-family: 'GongGothicLight';
    overflow: hidden;
}
.number{
    box-sizing: border-box;
}
#put_id{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    font-family: 'GongGothicLight';
    border-bottom: 1px solid #707070;
    padding: 5px;
}
#datepicker{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #707070;
    font-family: 'GongGothicLight';
    background: url(../sub/sub_reservation/reservation_paper.png) no-repeat top 50% left 5px;
    padding: 5px;
    box-sizing: border-box;
}
.last_name{
    box-sizing: border-box;
}
#name_last{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #707070;
    font-family: 'GongGothicLight';
    padding: 5px;
}
#name_first{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #707070;
    font-family: 'GongGothicLight';
    padding: 5px;
}
.check_button{
    margin: 0 auto;
    font-family: 'GongGothicLight';
    border-radius: 5px;
    border: none;
    background-color: #747B9B;
    color: #fff;
    cursor: pointer;
    display: block;
}

/*pc*/
@media (min-width:1000px) {
    #reservation_section{
        max-width: 1156px;
        margin-bottom: 100px;
    }
    .reservation_story{
        margin: 50px 0 40px;
    }
    .reservation_story h2{
        font-size: 27px;
        padding-bottom: 35px;
    }
    .reservation_story p span{
        padding-left: 15px;
    }
    .number{
        float: left;
        width: 47%;
        margin-bottom: 8px;
        margin-right: 6%;
    }
    #put_id{
        font-size: 18px;
        margin-top: 10px;
    }
    .calendar{
        float: right;
        width: 47%;
    }
    #datepicker{
        margin-top: 10px;
        font-size: 18px;
    }
    .last_name{
        float: left;
        width: 47%;
        margin-top: 35px;
        margin-right: 6%;
    }
    #name_last{
        margin-top: 10px;
        font-size: 18px;
    }
    .first_name{
        width: 47%;
        float: right;
        margin-top: 35px;
    }
    #name_first{
        margin-top: 10px;
        font-size: 18px;
    }
    .detail{
        font-size: 12px;
        padding-top: 10px;
    }
    .check_button{
        width: 220px;
        padding: 17px 0;
        font-size: 18px;
        margin-top: 60px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #reservation_section{
        width: 100%;
        margin-bottom: 80px;
        padding: 0 20px;
    }
    .reservation_story{
        overflow: hidden;
        margin: 40px 0 25px;
    }
    .reservation_story h2{
        font-size: 23px;
        padding-bottom: 35px;
    }
    .reservation_story p span{
        padding-left: 15px;
    }
    .reservation_main p{
        font-size: 14px;
    }
    .number{
        float: left;
        width: 47%;
        margin-bottom: 8px;
        margin-right: 6%;
    }
    #put_id{
        font-size: 13px;
        margin-top: 5px;
    }
    .calendar{
        float: right;
        width: 47%;
    }
    #datepicker{
        font-size: 13px;
        margin-top: 5px;
    }
    .last_name{
        float: left;
        width: 47%;
        margin-top: 25px;
        margin-right: 6%;
    }
    #name_last{
        font-size: 13px;
        margin-top: 5px;
    }
    .first_name{
        width: 47%;
        float: right;
        margin-top: 25px;
    }
    #name_first{
        margin-top: 5px;
        font-size: 13px;
    }
    .detail{
        font-size: 12px !important;
        padding-top: 5px;
    }
    .check_button{
        width: 180px;
        padding: 17px 0;
        font-size: 15px;
        margin-top: 60px;
    }
}


/*mobile*/
@media (max-width:699px){
    #reservation_section{
        width: 100%;
        margin-bottom: 70px;
        padding: 0 15px;
    }
    .reservation_story{
        margin: 40px 0 25px;
        overflow: hidden;
    }
    .reservation_story h2{
        font-size: 20px;
        padding-bottom: 25px;
    }
    .reservation_story p{
        font-size: 13px;
        width: 100%;
    }
    .reservation_story p span{
        width: 100%;
        display: block;
    }
    .reservation_main p{
        font-size: 14px;
    }
    .number{
        width: 100%;
        margin-bottom: 30px;
    }
    #put_id{
        font-size: 13px;
    }
    .calendar{
        width: 100%;
        margin-bottom: 30px;
    }
    #datepicker{
        font-size: 13px;
    }
    .last_name{
        width: 100%;
        margin-bottom: 30px;
    }
    #name_last{
        font-size: 13px;
    }
    .first_name{
        width: 100%;
    }
    #name_first{
        font-size: 13px;
    }
    .detail{
        font-size: 12px !important;
        padding-top: 5px;
    }
    .check_button{
        width: 150px;
        padding: 17px 0;
        font-size: 15px;
        margin-top: 50px;
    }
}




/*footer*/
#footer_wrap {
    background-color: #EAEAEB;
}

/*메일 입력창*/
.footer_mail {
    border: 1px solid #929292;
}

.footer_mail img {
    vertical-align: middle;
    float: right;
    padding: 0 15px 0 15px;
}

.footer_mail input[type="text"] {
    background: none;
    border: none;
    margin-left: 5px;
}

/*footer_menu*/
.footer_choice li a:hover {
    color: #93a9d1;
}

.footer_company {
    padding: 20px 0;
    display: inline-block;
}

.footer_company li {
    float: left;
    font-family: 'GongGothicLight';
    font-size: 12px;
    padding: 0 10px;
}

.footer_name {
    color: #747B9B;
    font-weight: bold;
}

.footer_inform span {
    display: block;
}
/*footer_left 끝*/

/*pc*/
@media (min-width:1000px) {
    #footer_wrap {
        width: 100%;
        overflow: hidden;
    }
    
    .footer {
        max-width: 1320px;
        margin: 0 auto;
        overflow: hidden;
        background: url(../index/11_footer/footer_logo.png) no-repeat right 20px bottom 80px;
        padding: 40px 0 40px;
    }
    .footer_inform {
        display: block;
        float: left;
    }
    /*메일창*/
    .footer_mail {
        width: 90%;
        padding: 3px 0 3px 2px;
        margin-left: 10px;
    }
    .footer_mail input[type="text"] {
        width: 80%;
    }
    .footer_inform p {
        font-size: 14px;
        font-weight: 600;
        padding: 30px 0 20px;
    }
    .footer_choice,
    .footer_inform p {
        padding-left: 10px;
    }
    .footer_choice li {
        float: left;
        padding-right: 30px;
        font-weight: 600;
    }
    .footer_company img{
        display: none;
    }
    /*footer_right sns*/
    .sns_right {
        float: right;
    }

    .sns_right li {
        float: left;
        padding: 0 10px;
    }
    .copyright{
        padding-left: 10px;
    }
}


/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #footer_wrap {
        width: 100%;
        overflow: hidden;
        background-color: #EAEAEB;
    }
    .footer {
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 0;
    }
    .footer_inform {
        display: block;
    }
    /*메일창*/
    .footer_mail {
        width: 90%;
        margin: auto;
        padding: 5px 0 5px 2px;
    }
    .footer_mail input[type="text"] {
        width: 75%;
    }
    .footer_inform p {
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0 30px;
        text-align: center;
    }
    .footer_choice{
        width: 100%;
    }
    .footer_choice li{
        float: left;
        width: 33.3%;
        text-align: center;
    }
    .footer_choice li a{
        font-weight: 600;
    }
    .footer_company{
        width: 70%;
        margin: 0 auto;
        display: block;
        background: url(../index/11_footer/footer_direction_bottom.png) no-repeat right 60px top 30px;
        margin-top: 30px;
    }
    .accordion{
        display: block;
        cursor: pointer;
        margin: auto;
        width: 50%;
        overflow: hidden;
    }
    .panel{
        max-height:0;
        overflow:hidden;
        transition:max-height	0.3s	ease-out;
        width: 70%;
        margin: 0 auto;
        padding-top: 10px;
    }
    span.copyright{
        display: none;
    }
    /*footer_right sns*/
    .sns_right {
        width: 60%;
        overflow: hidden;
        margin: auto;
    }

    .sns_right li {
        float: left;
        width: 20%;
    }
}


/*mobile*/
@media (max-width:699px){
    #footer_wrap {
        width: 100%;
        overflow: hidden;
        background-color: #EAEAEB;
    }
    .footer {
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 0;
    }
    .footer_inform {
        display: block;
    }
    /*메일창*/
    .footer_mail {
        width: 90%;
        margin: auto;
        padding: 5px 0 5px 2px;
    }
    .footer_mail input[type="text"] {
        width: 75%;
        padding: 5px 0;
    }
    .footer_inform p {
        font-size: 12px;
        font-weight: 600;
        padding: 20px 0 30px;
        text-align: center;
    }
    .footer_choice{
        overflow: hidden;
        width: 100%;
        padding-bottom: 10px;
    }
    .footer_choice li{
        float: left;
        width: 33.3%;
        text-align: center;
    }
    .footer_choice li a{
        font-weight: 600;
    }
    .footer_company{
        width: 100%;
        text-align: center;
        background: url(../index/11_footer/footer_direction_bottom.png) no-repeat right 60px top 30px;
    }
    .accordion{
        display: block;
        cursor: pointer;
        margin: auto;
        width: 50%;
    }
    .panel{
        max-height:0;
        overflow:hidden;
        transition:max-height	0.3s	ease-out;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        text-align: center;
    }
    span.copyright{
        display: none;
    }
    /*footer_right sns*/
    .sns_right {
        width: 60%;
        overflow: hidden;
        margin: auto;
    }

    .sns_right li {
        float: left;
        width: 20%;
    }
}